*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    /* background-color: #2d2d31; */
}

.startt{
    height: 85vh;
    width: 100%;
}
.start{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(9 9 9 / 72%), rgb(10 10 11 / 74%)), url(images/pngtree-modern-and-luxurious-kitchen-in-black-a-stunning-3d-render-picture-image_3651688.jpg);
    object-fit:cover;

}
.start .start-1 h1{
        width: 100%;
    color: white;
    font-size: 55px;
    text-align: center;
    padding-top: 200px;

}
.start .start-1 p{
    font-size: 21px;
    color: aliceblue;
    text-align: center;
    padding-top: 20px;

}
.small{
    height: 50vh;
    width: 100%;
    background-color: #2d2d31;
}
.small .small-1 .small-4 img{
    height: 150px;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 95px;
}
.small .small-1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.small .small-1 .small-2 p{
    color: orange;
    width: 90px;
    margin-top: 95px;

}
.small .small-1 .small-2 h2{
    width: 300px;
    color: white;
    font-size: 30px;
    align-items: center;
    margin-top: 20px;
}
.small .small-1 .small-3 p{
    width: 300px;
     color: white;
     margin-top: 95px;
    
}
.small .small-1 .small-3 button{
color: rgb(13, 13, 13);
    margin: 20px;
    border-radius: 0%;
    width: 184px;
    height: 43px;
}
.small-1 .small-3 button:hover{
     background-color: orange;
     transition: 0.4s ease;
     cursor: pointer;
}
.middle{
    height: 85vh;
    width: 100%;
    background-color: #2d2d31;
    padding-top: 30px;

}
.middle .middle-part{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0px auto;

}

.middle .middle-part .middle-part1{
    width: 23%;
    height: 500px;
    background-image:linear-gradient(rgb(9 9 9 / 64%), rgb(10 10 11 / 57%)), url(images/Sprinkling\ Modern\ Luxury\ into\ Small\ Indian\ Kitchens.jpeg);
    background-size: cover;
}
.middle .middle-part .middle-part2{
    width: 23%;
    height: 500px;
    background-image:linear-gradient(rgb(9 9 9 / 64%), rgb(10 10 11 / 57%)), url(images/beautiful\ house\ kitchen.jpeg);
    background-size: cover;
}
.middle .middle-part .middle-part3{
    width: 23%;
    height: 500px;
    background-image:linear-gradient(rgb(9 9 9 / 64%), rgb(10 10 11 / 57%)), url(images/23\ Cozy\ Brown\ Kitchen\ Cabinet\ Ideas\ for\ a\ Warm\ Vibe.jpeg);
    background-size: cover;
}
.middle .middle-part .middle-part4{
    width: 23%;
    height: 500px;
    background-image:linear-gradient(rgb(9 9 9 / 64%), rgb(10 10 11 / 57%)), url(images/Spice\ It\ Up\ 15\ Trendy\ Ideas\ for\ a\ Modern\ Luxury\ Kitchen.jpeg);
    background-size: cover;
}
.middle .middle-part h3{
    color: white;
    font-size: 18px;
    width: 20px;
    padding: 25px 0px 15px 20px;
}
.middle .middle-part p{
    color: white;
    padding-top: 360px;
    padding-left: 25px;

}
 .middle-part1:hover{
     box-shadow: 0px 0px 9px 0px #5a6398;
background-color: rgb(176, 176, 246);
transition: 1s ease;
 }
 .middle-part2:hover{
     box-shadow: 0px 0px 9px 0px #5a6398;
background-color: rgb(176, 176, 246);
transition: 1s ease;
 }
 .middle-part3:hover{
     box-shadow: 0px 0px 9px 0px #5a6398;
background-color: rgb(176, 176, 246);
transition: 1s ease-in;
 }
 .middle-part4:hover{
     box-shadow: 0px 0px 9px 0px #5a6398;
background-color: rgb(176, 176, 246);
transition: 1s ease-in;
 }
 .container{
    height: 90vh;
    width: 100%;
     background-color: #2d2d31;
}
.container .container-1{
    width: 100%;
    padding-left: 40px;

}
.container .container-1 p{
    color:orange;
    font-size: 20px;
}
.container .container-1 h2{
    color:white;
    font-size: 40px;
}
.container .container-2{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 40px;

}   
.container .container-2 .container-3{

    height: 220px;
    width: 230px;
    /* border: 2px solid black; */
}
.container .container-2 .container-3 img{
    height: 114px;
    width: 127px;
    background-color: #b6adad;
    border-radius: 29%;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 5px;
}
.container .container-2 .container-3 h5{
    color: white;
    font-size: 20px;
    padding-left: 8px;
    text-align: center;
    margin-bottom: 5px;
}
.container .container-2 .container-3 p{
    color: white;
    font-size: 15px;
    text-align: center;

}
.container .container-2 .container-4{

    height: 220px;
    width: 230px;
    /* border: 2px solid black; */
}

.container .container-2 .container-4 img{
    height: 114px;
    width: 127px;
    background-color: #b6adad;
    border-radius: 29%;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 5px;
}
.container .container-2 .container-4 h5{
    color: white;
    font-size: 20px;
    padding-left: 8px;
    text-align: center;
    margin-bottom: 5px;
}
.container .container-2 .container-4 p{
    color: white;
    font-size: 15px;
    text-align: center;

}
.container .container-2 .container-5{

    height: 220px;
    width: 230px;
    /* border: 2px solid black; */
}
.container .container-2 .container-5 img{
    height: 114px;
    width: 127px;
    background-color: #b6adad;
    border-radius: 29%;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 5px;
}
.container .container-2 .container-5 h5{
    color: white;
    font-size: 20px;
    padding-left: 8px;
    text-align: center;
    margin-bottom: 5px;
}
.container .container-2 .container-5 p{
    color: white;
    font-size: 15px;
    text-align: center;
}
.container .container-2 .container-6{

    height: 220px;
    width: 230px;
    /* border: 2px solid black; */
}
.container .container-2 .container-6 img{
    height: 114px;
    width: 127px;
    background-color: #b6adad;
    border-radius: 29%;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 5px;
}
.container .container-2 .container-6 h5{
    color: white;
    font-size: 20px;
    padding-left: 8px;
    text-align: center;
    margin-bottom: 5px;
}
.container .container-2 .container-6 p{
    color: white;
    font-size: 15px;
    text-align: center;
}
.background{
    height: 600px;
    width: 100%;
    position: relative;
}
.background #overlay{
    z-index: 99;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.876);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.background #overlay i{
    font-size: 60px;
    color: white;
}

.background video{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 90;
    object-fit: cover;
}

.gallery{
    height: 700px;
    width: 100%;
    /* border: 2px solid black; */
    background-color:#2d2d31;
    padding-top: 25px;
}
.gallery .gallery-1{
  width: 100%;
    
}
.gallery .gallery-1 h5{
    color:orange;
    font-size: 20px;
    text-align: center;
}
.gallery .gallery-1 h2{
    color:white;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}
.gallery .gallery-1 p{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 17px;
    padding-top: 10px;
    text-align: center;
}
.gallery .gallery-2{
    height: 520px;
    width: 70%;
    margin: 0 auto;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid black; */
    flex-wrap: wrap; 
    padding-top: 20px;
}


.gallery .gallery-2 .gallery-3{
    height: 235px;
    width: 33%;
    /* border: 2px solid black; */
}
.gallery .gallery-2 .gallery-3 img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: center;
}
.blur{
    height: 600px;
    width: 100%;
    background-color: #2d2d31;
   
}

.blur .blur-3{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
} 
.blur .blur-1 {
  height: 500px;
    width: 50%;
    background-image: url(images/10.jpeg);
    background-size: cover;
    position: relative;

}



.blur .blur-3 .blur-1 #overlay{
    position: absolute;
    background-color: #161417c3;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    
    z-index: 99;
}
.blur .blur-1 .note{
    height: 310px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 77px auto;
    z-index: 100;
    position: relative;
   
}
.blur .blur-1 .note h5{
    color: orange;
    font-size: 18px;
    width: 80%;
    padding-top: 65px;
}
.blur .blur-1 .note h2{
     color: rgb(244, 244, 243);
    font-size: 38px;
    width: 85%;
    padding-top: 10px;
    padding-left: 20px;
}
.blur .blur-1 .note p{
     color: rgb(250, 249, 248);
    font-size: 18px;
    width: 85%;
    padding-top: 19px;
    padding-left: 20px;
}
.blur .blur-1 .note  button{
     color: rgb(13, 13, 13);
    width: 30%;
    height: 50px;
    margin-right: 300px;
    margin-top: 19px;
}.blur .blur-1 .note  button:hover{
    background-color: orange;
    transition: 0.4 ease;
    cursor: pointer;
}
.blur .blur-2 {
  height: 500px;
    width: 50%;
}
.blur .blur-2 img{
    height: 500px;
    width: 100%;
    object-fit: cover;

}
.last{
    height: 600px;
    width: 100%;
    background-color: #2d2d31;
}
.last .last-1{
    height: 600px;
    width: 100%;
    background-image: url(images/pngtree-modern-and-luxurious-kitchen-in-black-a-stunning-3d-render-picture-image_3651688.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.last .last-1 #overlays{
    position: absolute;
    background-color: #1c1c21e0;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: 99;
}
.last .last-1 .last-2{
    height: 230px;
    width: 35%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    position: relative;
    padding: 27px 20px;
    z-index: 100;
 backdrop-filter: blur(0px) saturate(176%);
    -webkit-backdrop-filter: blur(0px) saturate(176%);
    background-color: rgba(17, 25, 40, 0.33);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);


    

}
.last .last-1 .last-2 h5{
    color: orange;
    font-size: 18px;
    padding-bottom: 10px;
}
.last .last-1 .last-2 h2{
       color: white;
    font-size: 38px;
       padding-top: 10px;
}
.last .last-1 .last-2 button{
    font-size: 20px;
    height: 45px;
    width: 190px;
  border-radius:30px;
 margin-top: 14px;

}
.last .last-1 .last-2 button:hover{
     background-color: orange;
    transition: 0.4 ease;
    cursor: pointer;
}




@media( max-width : 870px){
    .small{
        min-height: 110vh;
    }

        .small .small-1{
    flex-direction: column;
}

.container .container-2 {
    flex-direction: column;
        align-items: center;
    gap: 60px;
}
.gallery .gallery-1 p{
    font-size: 16px;
}
.blur .blur-1 .note p{
    width: 85%;
}
.blur .blur-1 .note h5{
    width: 76%;
}
.blur .blur-1 .note  button{
     margin-right: 141px;
     width: 33%;
}
.gallery {
    min-height: 100vh;
    width: 100%;
    /* border: 2px solid black; */
    background-color: #2d2d31;
    padding: 25px 0;
}
.gallery .gallery-2 {
    
    height: auto;
    width: 80%;
    margin: 0 auto;
    gap: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
}
}


@media( width : 1176px){
    .blur .blur-1 .note  button{
     margin-right: 291px;
}
.blur .blur-1 .note p{
    width: 84%;
}
}

@media( max-width : 595px)
{
    .middle-part{
    width: 95%;
    

}
.blur .blur-1 {
    height: 600px;
}
.middle .middle-part h3{
    font-size: 17px;
    padding: 25px 0px 15px 11px;
}
.gallery .gallery-1 p{
    font-size: 13px;
}
.blur .blur-1 img {
    height: 600px;}

.blur .blur-3 .blur-1 #overlay {
    height: 600px;
 }
 .blur .blur-2 img {
    height: 600px;
}

 .blur .blur-1 .note button {
    margin-right: 0px;
    width: 74%;
}
.last .last-1 .last-2 h2 {
 
    font-size: 28px;
}
}